body {
    background-color: #f8f9fa;
}

#tabelaContatosBody tr:hover {
    cursor: pointer;
}

.email-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

    .email-input-group input {
        flex-grow: 1;
    }
